.container	{
		margin: 5px;
		padding: 5px;
		width: 90%;
	}

header h1 {
	text-align: center;
	font-family: cursive,Helvetica, Arial, sans-serif;
	font-weight: bold;
}
.backgroundImage {
	url("..C:\Users\Kenneth Anthony\Desktop\bootcamp\git\huffingtonpost\images\old_paper_texture_by_caminopalmero.jpgg")
}