.container {
	margin: 5px;
	padding: 5px;
	width: 90%;
}

header h1 {
	text-align: center;
	font-family: 'Gravitas One', serif;
	font-size: 72px;
}

header p {
	text-align: center;
	font-family: 'Gravitas One', serif;
	font-size: 24px;
}

.background {
	background-image: url("images/backgroundImg.jpg");
	background-size: cover;
	background-attachment: fixed;
}